// GLOBAL LAYOUT
///////////////////////////////////////////////////////////////////////////////

// GRID CONTAINER
.l-container {
  @include outer-container;
  max-width: 900px;
}

// HEADER
.l-header {
  @include outer-container;
}

.l-header--brand {
  @include media($medium-screen)  {
    @include span-columns(8);
  }
}

.l-header--nav {
  @include media($medium-screen)  {
    @include span-columns(4);
    @include font-size(2.2);
    text-align: right;
    line-height: 1.6;
    padding-top: 25px;
    li {
      float: none !important;
    }
  }
  @include font-size(2);
  font-weight: bold;
  ul {
    padding-left: 0;
  }
  li {
    float: left;
    padding-right: 20px;
  }
}

// MAIN COLUMN CONTENT
.l-card {
  overflow: auto;
  margin: 20px auto;
  padding: 5%;
  width: 95%;
  background: #fff url(/myculinarypassport/images/seal.png) no-repeat;
  background-position: -40px -40px;
  background-size: 400px;
  box-shadow: 0 0 4px #7a7a7a;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    background: #fff url(/myculinarypassport/images/seal@2x.png) no-repeat;
    background-position: -40px -40px;
    background-size: 400px;
  }
}

// FOOTER
.l-footer {
  @include outer-container;
  margin-top: 60px;
  margin-right: -5%;
  margin-left: -5%;
  padding: 40px 10px 0 10px;
  max-width: none;
  border-top: 1px dashed #3f3131;
}

.l-footer--col {
  @include media($medium-screen)  {
    @include span-columns(4);
  }
  padding-right: 20px;
}

.l-footer--nav,
.l-sitemap-content {
  @include media($medium-screen)  {
    @include span-columns(8);
  }
}

.l-footer--credits,
.l-sitemap-aside {
  @include media($medium-screen)  {
    @include span-columns(4);
    text-align: right;
  }
  padding-left: 5px;
}

// LAYOUT HELPERS
///////////////////////////////////////////////////////////////////////////////

.l-right {
  float: right;
}

.l-left {
  float: left;
}