// GLOBAL LAYOUT
///////////////////////////////////////////////////////////////////////////////

// GRID CONTAINER
.l-container {
  @include outer-container;
  max-width: 900px;
  padding: 0 10px;
}

// HEADER
.l-header {
  @include outer-container;
  padding: 10px;
  background: url(/myculinarypassport/images/logo.png) no-repeat;
  background-position: -50px -30px;
  background-size: 360px;
}

.l-header--brand {
  @include media($medium-screen)  {
    @include span-columns(8);
  }
  text-indent: -9999px;
}

.l-header--nav {
  @include media($medium-screen)  {
    @include span-columns(4);
    text-align: right;
  }
  text-align: center;
}

// MAIN COLUMN CONTENT
.l-content {

}

// FOOTER
.l-footer {
  @include outer-container;
  padding: 20px 0;
  max-width: none;
  background-color: #efefef;
}

.l-footer--col {
  @include media($medium-screen)  {
    @include span-columns(4);
  }
  padding-right: 20px;
}

.l-footer--nav {
  @include media($medium-screen)  {
    @include span-columns(8);
  }
}

.l-footer--credits {
  @include media($medium-screen)  {
    @include span-columns(4);
    text-align: right;
  }
  padding-left: 5px;
}

// LAYOUT HELPERS
///////////////////////////////////////////////////////////////////////////////

.l-right {
  float: right;
}

.l-left {
  float: left;
}