%alert {
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
}

// ALERT ERROR
.alert--error {
  @extend %alert;
  background: $error-color;
  a {
    color: darken($error-color, 40%);
    &:hover {
      color: darken($error-color, 70%);
    }
  }
}

// ALERT WARNING
.alert--warning {
  @extend %alert;
  background: $notice-color;
  a {
    color: darken($notice-color, 40%);
    &:hover {
      color: darken($notice-color, 70%);
    }
  }
}

// ALERT SUCCESS
.alert--success {
  @extend %alert;
  background: $success-color;
  a {
    color: darken($success-color, 40%);
    &:hover {
      color: darken($success-color, 70%);
    }
  }
}

// ALERT INFO
.alert--info {
  @extend %alert;
  background: $light-blue;
  a {
    color: darken($light-blue, 40%);
    &:hover {
      color: darken($light-blue, 70%);
    }
  }
}
