.post {
  @include clearfix;
  padding: 40px 0 20px 0;
  border-bottom: 1px dashed #3f3131;
  word-wrap: break-word;
}

.post__body {
  margin-top: 40px;
}

.post__image {
  @include media($medium-screen)  {
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
  }
  float: left;
  overflow: hidden;
  margin: 0 40px 20px 0;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  box-shadow: 0 1px 3px #666;
}

.post img {
  @include media($medium-screen)  {
    border: 10px solid #fff;
  }
  border: 5px solid #fff;
  box-shadow: 0 1px 3px #666;
}

.featured {
  margin-bottom: 20px;
  width: 100%;
}

#comments-head {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px dashed #3f3131;
}