.post {
  @include clearfix;
  padding: 40px 0;
  border-bottom: 1px solid $base-border-color;
}

.post--image {
  @include media($medium-screen)  {
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
  }
  float: left;
  overflow: hidden;
  margin: 0 20px 20px 0;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  box-shadow: 0 1px 3px #666;
}